/* Styles for Pioneer Header Navigation */
.pioneerRoadHeader {
  background: #333;
  color: #FFF;
  padding-top: 0.5em;
  position: fixed;
  width: 100%;
  z-index: 10;
  height: 65px;
}
.pioneerRoadHeader .leaflet-map {
  position: fixed;
}
.pioneerRoadHeader .pr-friends p {
  font-size: 1em;
}
.pioneerRoadHeader .pr-profile p {
  font-size: 1.2em;
}
.pioneerRoadHeader .social-tabs {
  overflow: auto;
  position: absolute;
  top: 0.7em;
  left: 0;
  width: 100%;
}
.pioneerRoadHeader .social-tabs .pr-text {
  color: #333;
}
.pioneerRoadHeader .social-tabs .center-tabs {
  width: 155px;
  overflow: auto;
  margin: 0 auto;
  text-align: center;
}
.pioneerRoadHeader .social-tabs .center-tabs .pr-text {
  margin-top: 0.2em;
  border-bottom: 2px solid #FF6100;
}
.pioneerRoadHeader .social-tabs .center-tabs .friends-tab {
  float: left;
  padding: 1em;
  cursor: pointer;
}
.pioneerRoadHeader .social-tabs .center-tabs .groups-tab {
  float: left;
  padding: 1em;
  cursor: pointer;
}
.pioneer-app-view {
  margin-bottom: 6em;
  margin-top: 65px;
}
.pioneer-app-view .profile-index {
  margin-top: 60px;
}
.pa-friends {
  margin-top: 90px;
  position: relative;
}
.pa-friends .tabs {
  padding: 0.5em 0;
  border-bottom: 2px solid #DDD;
}
.pa-friends .sub-tabs {
  position: fixed;
  top: 65px;
  left: 0;
  padding-top: 2em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #E5E5E5;
  z-index: 2;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
}
.pa-friends .sub-tabs .st-center {
  margin: 0 auto;
  width: 194px;
}
.pr-message {
  position: absolute;
  top: 1em;
  right: 0;
  padding: 0.25em 1em;
  cursor: pointer;
}
.profile-link {
  color: #FAFAFA;
}
.profile-link:hover {
  color: #999;
}
.profile-link:active,
.profile-link:visited {
  color: #F3F3F3;
}
.pr-profile .text-center {
  padding-top: 1em;
}
.angular-google-map-container {
  height: 400px;
  margin-top: -0.4em;
}
.container-fluid {
  margin: 0;
  padding: 0;
}
.container-new-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  margin: 0;
  padding: 0;
}
.horizontal-rule {
  height: 1em;
}
#homeTownList {
  overflow-y: scroll;
  position: fixed;
  padding-top: 5em;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FAFAFA;
  z-index: 3;
}
#homeTownList .home-town-results {
  margin-top: 1em;
  margin-bottom: 1em;
}
#homeTownList .home-town {
  background-color: #FFF;
  margin-top: 0.5em;
  padding: 0.5em 0.5em;
  border-radius: 2px;
  cursor: pointer;
}
#homeTownList .home-town:hover {
  background-color: #DDD;
}
#uploadPictureView {
  overflow-y: scroll;
  position: fixed;
  padding-top: 4em;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FAFAFA;
  z-index: 3;
}
.ng-jcrop-image-wrapper {
  display: inline-block;
}
.ng-jcrop-thumbnail-wrapper {
  display: inline-block;
}
