.profile-index .pi-header {
  margin-bottom: 1em;
  position: relative;
  width: 100%;
  height: 200px;
  box-shadow: 0 5px 10px #AAA;
}
.profile-index .pi-header .pi-background img {
  width: 100%;
  height: 200px;
}
.profile-index .pi-header .pi-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  text-align: center;
  padding-top: 3em;
}
.profile-index .pi-header .pi-image img {
  border: 5px solid #3996F5;
  box-shadow: 0 10px 25px #000;
  border-radius: 50px;
  width: 100px;
  opacity: 1;
  cursor: pointer;
  transition: all 0.5s;
}
.profile-index .pi-header .pi-image img:hover {
  border: 5px solid #0c7cef;
  opacity: 0.8;
  box-shadow: 0 15px 50px #000;
}
.profile-index .pi-header .pi-settings {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1em;
  cursor: pointer;
  text-shadow: 0 0 5px #333;
  transition: all 0.5s;
}
.profile-index .pi-header .pi-settings:hover {
  color: #FAFAFA;
}
.profile-index .pi-location {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin: 1em;
  padding: 0.5em 0;
  border-radius: 5px;
  background: rgba(218, 161, 56, 0.69);
  color: rgba(145, 103, 27, 0.69);
}
.profile-index .pi-location:after {
  content: " ";
  display: block;
  clear: both;
}
.profile-index .pi-location .pi-heading {
  margin-left: 0.5em;
  color: #f34d22;
  font-size: 20px;
  font-weight: 300;
}
.profile-index .pi-location .pi-row {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.profile-index .pi-location .pi-row:after {
  content: " ";
  display: block;
  clear: both;
}
.profile-index .pi-location .pi-row .pi-marker {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  text-align: center;
  font-size: 2em;
  color: #D6350C;
}
.profile-index .pi-location .pi-row .pi-details {
  width: 74.57627%;
  float: right;
  margin-right: 0;
}
.profile-index .pi-location .pi-row .pi-details .nearby {
  font-size: 16px;
}
.profile-index .pi-location .pi-row .pi-details .region {
  font-size: 16px;
}
.profile-index .pi-location .pi-row .pi-details .checkin-time {
  color: #333;
  font-size: 16px;
  font-weight: 300;
}
.profile-index .pi-friends {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin: 1em;
  padding: 0.5em 0;
  background: #70C984;
  color: #3a994f;
  border-radius: 5px;
}
.profile-index .pi-friends:after {
  content: " ";
  display: block;
  clear: both;
}
.profile-index .pi-friends .pi-heading {
  font-size: 20px;
  font-weight: 300;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  color: #1e4f29;
}
.profile-index .pi-friends .pi-friend {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #95d7a4;
  margin: 1em;
  padding: 0.5em;
  border-radius: 5px;
  transition: all 0.25s;
  cursor: pointer;
}
.profile-index .pi-friends .pi-friend:after {
  content: " ";
  display: block;
  clear: both;
}
.profile-index .pi-friends .pi-friend:hover {
  opacity: 0.8;
}
.profile-index .pi-friends .pi-friend .pi-image {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  text-align: center;
}
.profile-index .pi-friends .pi-friend .pi-image img {
  box-shadow: 0 2px 5px #000;
  border-radius: 50px;
  opacity: 1;
  cursor: pointer;
}
.profile-index .pi-friends .pi-friend .pi-details {
  width: 74.57627%;
  float: right;
  margin-right: 0;
}
.profile-index .pi-friends .pi-friend .pi-details .pi-name {
  color: #333;
}
.profile-index .pi-friends .pi-friend .pi-details .pi-distance {
  color: #333;
}
.profile-index .pi-friends .pi-friend .pi-details .pi-time {
  color: #FAFAFA;
}

.ng-jcrop-image-wrapper {
  display: inline-block;
}

.ng-jcrop-thumbnail-wrapper {
  display: inline-block;
}

.pa-friends .friends {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10em;
}
.pa-friends .friends:after {
  content: " ";
  display: block;
  clear: both;
}
.pa-friends .friends .friend {
  cursor: pointer;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #70C984;
  margin: 0 1em 0.5em 1em;
  box-shadow: 0px 0px 3px #BBB;
  border-radius: 10px;
  padding: 1em;
  transition: all 0.5s;
}
.pa-friends .friends .friend:after {
  content: " ";
  display: block;
  clear: both;
}
.pa-friends .friends .friend:hover {
  box-shadow: 0px 2px 25px #999;
}
.pa-friends .friends .friend .pr-image {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
  text-align: center;
}
.pa-friends .friends .friend .pr-image img {
  box-shadow: 0 2px 2px #000;
  border-radius: 50px;
  opacity: 1;
  cursor: pointer;
  transition: all 0.5s;
}
.pa-friends .friends .friend .pr-image img:hover {
  opacity: 0.8;
  box-shadow: 0 5px 5px #000;
}
.pa-friends .friends .friend .pr-details {
  width: 66.10169%;
  float: right;
  margin-right: 0;
}
.pa-friends .friends .friend .pr-details .pr-name {
  font-size: 16px;
  font-weight: 600;
}
.pa-friends .friends .friend .pr-details .pr-hometown, .pa-friends .friends .friend .pr-details .pr-location {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.pa-friends .friends .friend .pr-details .pr-hometown:after, .pa-friends .friends .friend .pr-details .pr-location:after {
  content: " ";
  display: block;
  clear: both;
}
.pa-friends .friends .friend .pr-details .pr-hometown .pr-icon, .pa-friends .friends .friend .pr-details .pr-location .pr-icon {
  text-align: center;
  width: 24.05063%;
  float: left;
  margin-right: 1.26582%;
}
.pa-friends .friends .friend .pr-details .pr-hometown .pr-text, .pa-friends .friends .friend .pr-details .pr-location .pr-text {
  width: 74.68354%;
  float: right;
  margin-right: 0;
  font-size: 14px;
}
.pa-friends .friends .friend .pr-details .pr-hometown .pr-icon {
  color: #1F4D70;
}
.pa-friends .friends .friend .pr-details .pr-location .pr-icon {
  color: #5D7331;
}

.friends-profile {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: rgba(255, 255, 255, 0.9);
  z-index: 99;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.friends-profile:after {
  content: " ";
  display: block;
  clear: both;
}
.friends-profile .pr-header {
  position: fixed;
  top: 0;
  left: 0;
  background: #FAFAFA;
  border-bottom: 1px solid #DDD;
  box-shadow: 0 2px 10px #555;
  width: 100%;
  text-align: center;
  z-index: 100;
}
.friends-profile .pr-header .pr-text {
  font-size: 24px;
  font-weight: 300;
  margin: 0.5em 0;
}
.friends-profile .pr-header .pr-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em;
  cursor: pointer;
  transition: all 0.5s;
}
.friends-profile .pr-header .pr-close:hover {
  color: #999;
}
.friends-profile .pr-container {
  margin-top: 4em;
  position: relative;
}
.friends-profile .pr-container .pr-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding-top: 2em;
}
.friends-profile .pr-container .pr-image img {
  border: 5px solid #3996F5;
  box-shadow: 0 10px 25px #000;
  border-radius: 50px;
  width: 100px;
  opacity: 1;
  cursor: pointer;
  transition: all 0.5s;
}
.friends-profile .pr-container .pr-image img:hover {
  border: 5px solid #0c7cef;
  opacity: 0.8;
  box-shadow: 0 15px 50px #000;
}
.friends-profile .pr-container .pr-background img {
  width: 100%;
  height: 150px;
}
.friends-profile .pr-details .pr-hometown {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin: 1em;
  background: #97D1F3;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #AAA;
  padding: 0.5em;
}
.friends-profile .pr-details .pr-hometown:after {
  content: " ";
  display: block;
  clear: both;
}
.friends-profile .pr-details .pr-hometown .pr-heading {
  font-size: 24px;
  font-weight: 300;
  color: #203186;
}
.friends-profile .pr-details .pr-hometown .pr-ht-icon {
  color: #0D68E7;
  font-size: 24px;
  text-align: center;
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
}
.friends-profile .pr-details .pr-hometown .pr-ht-details {
  width: 74.57627%;
  float: right;
  margin-right: 0;
}
.friends-profile .pr-details .pr-hometown .pr-ht-details .txt-1, .friends-profile .pr-details .pr-hometown .pr-ht-details .txt-2 {
  font-size: 20px;
  color: #3730AE;
}
.friends-profile .pr-details .pr-clocation {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin: 1em;
  background: #FFE596;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #AAA;
  padding: 0.5em;
}
.friends-profile .pr-details .pr-clocation:after {
  content: " ";
  display: block;
  clear: both;
}
.friends-profile .pr-details .pr-clocation .pr-heading {
  font-size: 24px;
  font-weight: 300;
  color: #F40707;
}
.friends-profile .pr-details .pr-clocation .pr-cl-icon {
  color: #F40707;
  font-size: 24px;
  text-align: center;
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
}
.friends-profile .pr-details .pr-clocation .pr-cl-details {
  width: 74.57627%;
  float: right;
  margin-right: 0;
}
.friends-profile .pr-details .pr-clocation .pr-cl-details .txt-1, .friends-profile .pr-details .pr-clocation .pr-cl-details .txt-2, .friends-profile .pr-details .pr-clocation .pr-cl-details .txt-3 {
  font-size: 20px;
  color: #684012;
}
.friends-profile .pr-details .pr-rig {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin: 1em;
  background: #93E0CB;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #AAA;
  padding: 0.5em;
}
.friends-profile .pr-details .pr-rig:after {
  content: " ";
  display: block;
  clear: both;
}
.friends-profile .pr-details .pr-rig .rig-heading {
  font-size: 24px;
  font-weight: 300;
  color: #114C3C;
}
.friends-profile .pr-details .pr-rig .rig-image {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  text-align: center;
}
.friends-profile .pr-details .pr-rig .rig-image img {
  border-radius: 2px;
  box-shadow: 0 1px 2px #999;
}
.friends-profile .pr-details .pr-rig .rig-details {
  width: 49.15254%;
  float: right;
  margin-right: 0;
}
.friends-profile .pr-details .pr-rig .rig-details .txt-1, .friends-profile .pr-details .pr-rig .rig-details .txt-2 {
  font-size: 20px;
  font-weight: 600;
  color: #215220;
}
.friends-profile .pr-details .pr-rig .rig-details .txt-3 {
  font-size: 18px;
  color: #278826;
}

/*# sourceMappingURL=scustom.css.map */
