<div class="pa-friends" ng-controller="FriendsCtrl">
  <div class="tabs row">
    <div class="col-xs-12 text-center">
      <a href="#" class="btn btn-primary" id="paFriendsTab">Friends</a>
      <a href="#" class="btn btn-default" id="paAddFriend">Add Friend</a>
      <a href="#" class="btn btn-default" id="paFriendRequests">Friend Requests</a>
    </div>
  </div>
  <div class="friends">
    <div class="friend row" ng-repeat="friend in values">
      <div class="col-xs-3">
        <img src="/assets/images/icon-user.svg" />
      </div>
      <div class="col-xs-9">
        <div class="row name">Bill and June Smith</div>
        <div class="row">
          <div class="col-xs-9">
            <div class="row home">
              <div class="col-xs-2 text-center">
                <i class="fa fa-home fa-2x"></i>
              </div>
              <div class="col-xs-10">
                <p>Wyalla, SA</p>
              </div>
            </div>
            <div class="row place">
              <div class="col-xs-2 text-center">
                <i class="fa fa-user fa-2x"></i>
              </div>
              <div class="col-xs-10">
                <p>Mt Isa, QLD (10 KM)</p>
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <img src="/assets/images/icon-user.svg" alt="User Icon">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>