<div class="pa-friends" ng-controller="FriendsCtrl">
  <div class="sub-tabs">
    <div class="st-center">
      <div class="btn-group" role="group">
      <a href="#" class="btn btn-warning" id="paFriendsTab">My Friends</a>
      <a href="#" class="btn btn-default" id="paAddFriend">Add Friends</a>
      </div>
    </div>
  </div>
  <div class="friends">
    <div class="friend" ng-repeat="friend in values">
      <div class="pr-image">
        <img src="http://placekitten.com/g/90/90" alt="Friend Image">
      </div>
      <div class="pr-details">
        <div class="pr-name">Carol and Ian Adams</div>
        <div class="pr-hometown">
          <div class="pr-icon"><i class="fa fa-home fa-2x"></i></div>
          <div class="pr-text">
            <div class="txt-1">Fairy Meadow</div>
            <div class="txt-2">South Coast NSW</div>
          </div>
        </div>
        <div class="pr-location">
          <div class="pr-icon"><i class="fa fa-map-marker fa-2x"></i></div>
          <div class="pr-text">
            <div class="txt-1">Cooma</div>
            <div class="txt-2">Snowy Mountains NSW</div>
          </div>
        </div>
    </div>
  </div>
</div>