<div class="row">
  <div class="col-xs-12">
    <h1 class="text-center">Logo</h1>
  </div>
</div>
<hr>
<div class="row text-center">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-12">
        <a href="#" class="btn btn-lg btn-primary">Facebook</a>
      </div>
    </div><br>
    <div class="row">
      <div class="col-xs-12">
        <a href="#" class="btn btn-lg btn-primary">Twitter</a>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row text-center">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-12">
        <a href="/login" class="btn btn-lg btn-default">Sign In</a>
      </div>
    </div><br>
    <div class="row">
      <div class="col-xs-12">
        <a href="#" class="btn btn-lg btn-default">Sign Up</a>
      </div>
    </div>
  </div>
</div>