<!-- Put the Header for the Messages - Custom Header -->

<div class="container-new-fluid chat-padding">
  <div class="chat-person">
    <div class="row chat-time text-right">1 day ago</div>
    <div class="row">
    	<div class="col-xs-1">
        <strong>IO</strong> 
      </div>
      <div class="col-xs-3">
        Profile photo of Friend with online indicator
      </div>
      <div class="col-xs-6">
        <div class="row friend-name">Carol and Ian Adams</div>
        <div class="row chat-stripped">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores odit blanditiis nostrum eligendi ...</div>
      </div>
      <div class="col-xs-1">
        Right Arrow.
      </div>
    </div>
  </div>
</div>