<div class="content">
  <h1>Places</h1>
  <div class="section-icon">My Pioneer Road icon</div>
  <ul class="help help-user-page">
    <li>
      <a href="/user/view-profile">
        <div class="img-view-profile">
          <div>view profile icon</div>
          <h2>view my profile</h2>
          <p>Check what your friends and other users will see when they look at your profile.</p>
        </div>
      </a>
      <li>
        <a href="/user/edit-profile">
          <div class="img-edit-profile">
            <div>edit profile icon</div>
            <h2>edit profile</h2>
            <p>Change your profile information and profile privacy settings.</p>
          </div>
        </a>
      </li>
      <li>
        <a href="/user/settings">
          <div class="img-change-settings">
            <div>change settings icon</div>
            <h2>change settings</h2>
            <p>Change settings like your password and you privacy controls.</p>
          </div>
        </a>
      </li>
    </ul>
  </div>