<div class="row">
  <div class="col-xs-12">
    <div class="col-xs-9"></div>
    <div class="col-xs-3">
      <strong>Privacy Settings</strong>
    </div>
  </div>
</div>
<form>
  <div class="row">
    <div class="col-xs-12">
      <label for="nickname">Nickname</label>
    </div>
    <div class="col-xs-9">
      <div class="form-group">
        <input type="text" class="form-control" id="nickname" placeholder="Enter your nickname...">
      </div>
    </div>
    <div class="col-xs-3">
      <button class="btn btn-success" ng-class="btnClass.nickname" ng-click="changeButton('nickname')">{{ btnText.nickname }}</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <label for="background_photo">Background Photo</label>
    </div>
    <div class="col-xs-9">
      <div class="form-group">
        <input type="file" class="form-control" id="background_photo" placeholder="Select a background photo...">
      </div>
    </div>
    <div class="col-xs-3">
      <button class="btn btn-success" ng-class="btnClass.backgroundPhoto" ng-click="changeButton('backgroundPhoto')">{{ btnText.backgroundPhoto }}</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <label for="profile_photo">Profile Photo</label>
    </div>
    <div class="col-xs-9">
      <div class="form-group">
        <input type="file" class="form-control" id="profile_photo" placeholder="Select your profile photo...">
      </div>
    </div>
    <div class="col-xs-3">
      <button class="btn btn-success" ng-class="btnClass.profilePhoto" ng-click="changeButton('profilePhoto')">{{ btnText.profilePhoto }}</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <label for="rv_type">Type of RV</label>
    </div>
    <div class="col-xs-9">
      <div class="form-group">
        <select class="form-control" id="rv_type">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>
    <div class="col-xs-3">
      <button class="btn btn-success" ng-class="btnClass.rvType" ng-click="changeButton('rvType')">{{ btnText.rvType }}</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <label for="rv_brand">Brand of RV</label>
    </div>
    <div class="col-xs-9">
      <div class="form-group">
        <select class="form-control" id="rv_brand">
          <option>One</option>
          <option>Two</option>
          <option>Three</option>
          <option>Four</option>
          <option>Five</option>
        </select>
      </div>
    </div>
    <div class="col-xs-3">
      <button class="btn btn-success circle" ng-class="btnClass.brandRv" ng-click="changeButton('brandRv')">{{ btnText.brandRv }}</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <label for="short_introduction">Short Introduction (180 Characters)</label>
    </div>
    <div class="col-xs-9">
      <textarea class="form-control" id="short_introduction" placeholder="Give a brief introduction about yourself..." rows=5></textarea>
    </div>
    <div class="col-xs-3">
      <button class="btn btn-success" ng-class="btnClass.introduction" ng-click="changeButton('introduction')">{{ btnText.introduction }}</button>
    </div>
  </div>
</form>