@import "traveller/index";

.profile-link {
	color: #FAFAFA;
  &:hover { color: #999; }
  &:active, &:visited { color: #FAFAFA; }
}

.angular-google-map-container { height: 400px; margin-top: -0.4em; }

.horizontal-rule { height: 1em; }

#homeTownList {
  position: absolute;
  top: 3em; left: 0;
  width: 100%; height: 200px;
  background-color: #FAFAFA;
  z-index: 3;
  
  .home-town-results {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .home-town {
    background-color: #FFF;
    margin-top: 0.5em;
    padding: 0.5em 0.5em;
    border-radius: 2px;
    cursor: pointer;
    &:hover { background-color: #DDD; }
  }
}